html {
    scroll-behavior: smooth;
    scroll-padding: 10px;
}

:root {
    --gray: #696871;
    --black: #19191B;
    --blue: #5454D4;
    --orange: #FF7143;
    --lightblue: #F7F7FB;
    --lightgray: #F8F8F8;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Mulish", sans-serif;
    color: var(--gray);
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
}

.container {
    max-width: 1069px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    padding: 15px 0;

    background-color: rgb(255, 255, 255);

    z-index: 999;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    gap: 50px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.header-link {
    letter-spacing: -0.47px;
    color: var(--gray);
    padding: 10px 0;
    font-size: 16px;

    &:hover {
        transition: color 0.2s linear 0.1s;
        color: var(--black);
    }

}

.header-link.active {
    color: var(--black);
    border-bottom: 2px solid var(--blue);

}

.header__btn {
    background-color: var(--orange);
    color: white;
    border-radius: 10px;

    padding: 20px 60px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.53px;

    &:hover {
        transition: 0.3s;
        opacity: 0.9;
        cursor: pointer;
    }

    text-wrap: nowrap;
}

.hero {
    padding: 200px 0 100px 0;
}

.hero__container {
    position: relative;
}

.hero__text {
    max-width: 460px;
}

.hero__title {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: -0.25px;
    color: var(--black);
    line-height: 77px;
    padding-bottom: 30px;
}

.hero__btn {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero__scroll {
    background-color: var(--blue);
    color: white;
    border-radius: 10px;

    padding: 20px 60px;

    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.53px;

    &:hover {
        transition: 0.3s;
        opacity: 0.9;
        cursor: pointer;
    }

    text-wrap: nowrap;
}

.hero__scroll-image {
    width: 60px;
    height: 60px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    padding: 18px 18px 15px;
}

.hero-image {
    position: absolute;
    z-index: 1;
    top: -76px;
    right: -76px;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 150px 0;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 85px;
    margin-bottom: 10px;
}

.features__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__content-text {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features__content-text h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: var(--black);
}

.features__content-text a {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}

.mini-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 140px 0 150px 0;
}

.mini-features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mini-features__content img {
    width: 151px;
    height: 97px;
}

.mini-features__content h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    margin: 10px 0 20px 0;
}

.mini-features__content p {
    font-size: 16px;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plan__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.plan .plan__title {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: var(--black);
    width: 550px;
    line-height: 70px;
}

.plan__btns {
    display: flex;

    background-color: var(--lightblue);

    border-radius: 10px;
}

.plan__btn {
    background-color: transparent;
    color: var(--black);

    border: 5px solid var(--lightblue);
    border-radius: 0 15px 15px 0;

    padding: 20px 55px;
    font-size: 16px;
    font-weight: bold;



    &:hover {
        cursor: pointer;
    }

}

.plan__btn.active {
    background-color: var(--blue);
    color: white;

    border-radius: 15px 0 0 15px;
}

.plan__sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 100px;
}

.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--lightgray);
    padding: 50px 25px 40px 25px;
    border-radius: 10px;
}

.plan-card.active {

    background-color: var(--orange);
    color: white;
    transform: scale(1.05);

    a,
    h2,
    .plan-card-cost,
    .plan-card-p1 {
        color: white;
    }

    .plan-card-p1{
        opacity: 0.7;
    }

    a {
        background-color: #9F3919;
        
    }
}

.plan-card .plan-card-p1 {
    font-family: "DM Sans", sans-serif;

    font-size: 18px;
    letter-spacing: -0.56px;
    color: var(--gray);
}

.plan-card-cost-normal {
    color: var(--black);
    font-size: 28px;

    margin: 15px 0 40px 0;
}

.plan-card-cost {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: var(--black);

    margin: 15px 0 40px 0;
}

.plan-card p {
    font-size: 17px;
    margin-bottom: 20px;

}

.plan-card a {
    font-weight: bold;
    font-size: 17px;
    color: var(--blue);
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}