body{
background-color: rgb(249, 202, 202);
}

h1{
    text-align: center;
    color: red;
}
.p1 {
    font-style: italic;
    text-align: center;
}
ul{
    list-style-type: circle;
}

.p2{
    font-weight: bold;
    font-size: 20px;
}
span{
    font-style: italic;
}
img{
   width: 400px;
}