#quiz
{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#question
{
    font-size: 18px;
    margin-bottom: 20px;
}
#options
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#options button
{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}
#nextBtn
{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#results
{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

#options button
{
    background-color: aqua;

}
#options button.active
{
    background-color: rgb(37, 110, 110);

}