* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  0.5s;
}

section {
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

.slider {
    display: flex;
    
    width: 400%;
}

.slide
{
    width: 25%;
}

.slide img {
    object-fit: cover;
    width: 400px;
    height: 600px;
    pointer-events: none;

}

nav {
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
    gap: 10px;
    position: absolute;

}

label {

    background-color: #fbf7f7;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}