* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6EFE4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-block {
    background-color: rgb(253, 251, 246);
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(225, 224, 219);
}

header{
    background-color: rgb(253, 251, 246);
    padding: 20px 0;
}


.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.logo img {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;


}

nav a {

    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;

}

nav a:hover {
    background-color: transparent;
    color: #385F4E;
}

nav .a1 {

    font-weight: bold;
    background-color: #385F4E;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #385F4E;
}

nav .a1:hover {
    background-color: transparent;
    color: #385F4E;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
    
}

main img {
    width: 350px;
    padding: 0 60px 0 60px;
}

.main-text h2 {
    font-size: 30px;
    color: #223723;
}

.main-text p {
    width: 600px;
    font-size: 25px;
    padding: 20px 0;
    line-height: 1.5;
}


.veb {
    background-color: #223723;
    padding: 50px 0;

}

.veb-block {
    display: flex;
    padding-top: 60px;
}

.veb h2 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 0 50px;
    white-space: nowrap;

}

.veb p {
    padding: 0 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
}

.veb-img {
    box-shadow: 0 0 20px #182719;
    padding: 20px;
    border-radius: 60px;
    width: 350px;
    
}

.veb-name {
    font-weight: bold;
    display: flex;
    gap: 200px;
    padding: 10px 60px;
    padding-bottom: 60px;
    text-align: center;
    
}
footer {
    margin-top: auto;
    text-align: center;
    background-color: rgb(253, 251, 246);
    padding: 20px 0;
}

.footer-block
{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    
}
