* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6EFE4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: rgb(253, 251, 246);
    padding: 20px 0;
}


.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}


.logo img {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;


}

nav a {

    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;

}

nav a:hover {
    background-color: transparent;
    color: #385F4E;
}

nav .a1 {

    font-weight: bold;
    background-color: #385F4E;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #385F4E;
}

nav .a1:hover {
    background-color: transparent;
    color: #385F4E;
}

.me {

    margin: 60px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about {
    margin: 60px;
    margin-top: 30px;
    max-width: 800px;
    display: flex;
    gap: 200px;
    align-items: center;
    text-align: center;
}

.about h3 {
    margin: 20px;

}

.about img {
    width: 100px;

}

.obo {
    padding: 0;
    margin: 0;
    text-align: center;

}

.msg {
    padding-bottom: 40px;
    border-bottom: 1.5px solid rgb(42, 42, 42);
}

.izbr {
    padding-bottom: 40px;
    border-bottom: 1.5px solid rgb(42, 42, 42);
}

.gh {
    padding: 90px;
    background-color: #d9dfc9;
    display: flex;
    justify-content: space-between;
    
}
.gh2 {
    gap: 100px;
    display: flex;
    justify-content: space-between;
    
}

.onazv {
    white-space: nowrap;
}

.kokos {
    
    background-color: rgb(253, 251, 246);
    padding: 60px;


}
.kokos-contain
{
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
    
}

.kokos img {

    width: 350px;
}

.border {

    border-left: 1.5px solid #d9dfc9;
}

.kokos p {

    padding-right: 90px;
}

.kokos-text
{
    padding: 80px ;
}
.kokos2-text
{
    padding: 70px;
}
.kokos img:hover
{
 width: 400px;
 transition: 0.6s;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: rgb(253, 251, 246);
    padding: 20px 0;
}

.footer-block
{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    
}