body {
    background-color: rgb(201, 223, 239);
}

h1  {
    text-align: center;
    color: rgb(58, 131, 145);
    /* transition: 0.5s; */

}
p   {
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 161, 169);
    text-transform: uppercase;
    margin-bottom: 100px;
}
h1:hover{
    color: #4d5d8e;
    /* transform: scale(1.5); */
    transition: 0.5s;
    transform: rotate(360deg);
}

.p1 {
    color: rgb(176, 143, 207);
}