* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);

}

@font-face {
    font-family: kamerik-3d;
    src: url("../fonts/kamerik205-heavy.woff2");
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url("../fonts/merriweather-regular-italic.woff2");

}

body {
    background-color: black;
    color: white;
    font-family: kamerik-3d;
}

.music-btn {
    background-color: white;
    color: rgba(0, 0, 0, 0.466);


    font-size: calc(var(--index)*.8);
    position: absolute;
    z-index: 1;
    top: 2%;
    right: 2%;

    border: .1em solid rgba(255, 255, 255, 0.426);
    padding: calc(var(--index)*.2) calc(var(--index)*.5);
    border-radius: 20em;
    cursor: pointer;
    transition: 0.3s;

}

.music-btn.stop {
    background-color: transparent;
    color: white;

    &:hover {
        color: #fff;
        border-color: rgba(245, 247, 246, 0.562);
        box-shadow:
            0 0 12px rgba(238, 239, 238, 0.5),
            0 0 40px rgba(237, 238, 237, 0.3),
            inset 0 0 20px rgba(243, 244, 243, 0.15);

    }
}

.logo {
    --logo-size: calc(var(--index) * 7.8);
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    left: calc(50% - calc(var(--logo-size) /2));
    top: calc(var(--index) * 2.8);
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform:
        rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    /* чтобы уделять больше ресурсов компа трансформации */
    transition: transform var(--transition);
}

.layers_item {
    position: absolute;
    /* top: -5vw;
    left: -5vw;
    right: -5vw;
    bottom: -5vw; */
    inset: -5vw;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform: translateZ(80px) scale(.88);
}

.layer-3 {
    transform: translateZ(180px) scale(.8);
}

.layer-4 {
    transform: translateZ(190px) scale(.9);
}

.layer-5 {
    transform: translateZ(300px) scale(.9);
}

.layer-6 {
    transform: translateZ(380px) scale(.88);
}

.hero-content {
    font-size: calc(var(--index) * 2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 1.8em;
    margin-top: calc(var(--index) * 2);
}

.hero-content span {
    display: block;
}

.hero-content__p {
    text-transform: none;
    font-family: merriweather-italic-3d;
    font-size: calc(var(--index)*.73);
    letter-spacing: calc(var(--index) * .05);
    line-height: 3;
}

.button-start {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    border-radius: 10em;
    border: rgba(255, 255, 255, 0.334) 3px solid;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    isolation: isolate;
    transition: color .5s ease;

}

.button-start::before {
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    z-index: -1;
    clip-path: inset(100% 0 0 0);          
    transition: clip-path .35s cubic-bezier(.7, 0, .3, 1);
}

.button-start:hover {
    color: rgba(0, 0, 0, 0.466);
}

.button-start:hover::before {
    clip-path: inset(0 0 0 0);             
}

.layer-4,
.layer-5,
.layer-6 {
    pointer-events: none;
}
